.title{
    height:100px;
    width:100%;
    position:absolute;
    left:0;
    background-color: lightgray;
    text-align: center;
}

.header{
    top:0;
    border-bottom: 2px solid black;
}

.footer{
    bottom:0;
    border-top: 2px solid black;
}

.body{
    width: 100%;
    position: relative;
}

.content{
    margin:50px 0 50px 0;
    padding:25px 40px;
    background-color: rgb(247, 202, 144);
}

h2{
    padding-bottom: 40px;
    text-align: center;
}

.middle{
    margin:100px -15px;
    padding:0 0 20px 0;
    background-color:burlywood;
}

.btn{
    margin-bottom: 15px;
}

.comment{
    font-size: smaller;
    color: grey;
}